---
import { cn } from "../../utils/cn";
import { buttonVariants, type ButtonVariants } from "./ButtonVariants";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes, ButtonVariants {
  /** The URL that the button links to */
  href: string;
  /** Optional CSS classes to add to the button */
  class?: string;
  /** Whether the link should open in a new tab */
  openInNewTab?: boolean;
}

const {
  href,
  variant = "default",
  size = "default",
  class: className,
  openInNewTab = false,
  ...rest
} = Astro.props;

const targetProps = openInNewTab
  ? {
      target: "_blank",
      rel: "noopener noreferrer",
    }
  : {};
---

<a
  class={cn(buttonVariants({ variant, size }), className)}
  href={href}
  {...targetProps}
  {...rest}
>
  <slot />
</a>
