---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
  isExternal?: boolean;
};

const { label, isUnderline, isExternal, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["hover:text-neutral-900 cursor-pointer inline-flex items-center gap-2"]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  rel={isExternal ? "noreferrer" : undefined}
  target={isExternal ? "_blank" : undefined}
  {...props}
><slot /></a>
