---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="inline-flex items-center justify-center cursor-pointer px-3 py-1 border-1 rounded-full border-default shadow-[0_0_10px_0_rgba(0,0,0,0.15)] hover:shadow-[0_0_10px_0_rgba(0,0,0,0.3)] transition-all duration-200 ease-in-out" href={href} target="_blank" rel="noopener noreferrer">
  <sh></sh>
  <span class="font-bold text-sm flex items-center gap-2">
    <slot name="icon" />
    <slot />
  </span>
</a>
