---

/**
 *  Heading component for the home page.
 *  @param {string} title - The title of the heading.
 *  @param {string} align - The alignment of the heading.
 */
interface Props {
  title: string;
  align?: 'left' | 'right';
}

const { title, align = 'left' } = Astro.props;
---

<div class="space-y-12">
  <div class:list={[
    'flex text-4xl',
    {"sm:-mr-8 text-right flex-row-reverse": align === 'right'}, 
    {"sm:-ml-8 text-left": align === 'left'}
  ]}>
    <div class="hidden sm:block text-primary font-mono font-bold w-8 text-center">+</div>
    <div class="space-y-4">
      <h2 class="font-mono italic">{title}</h2>
      <p class="text-xl max-w-prose"><slot name="description"/></p>
    </div>
  </div>
  <slot />
</div>