---
import Centered from "@/layouts/Centered.astro";
import { Mail } from "lucide-react";
import Button from "./Button.astro";
import HeroText from "./HeroText.astro";
---

<Centered class="flex flex-col items-center gap-6 text-center">
  <div class="sm:text-4xl text-3xl text-default">Hello, my name is</div>
  <HeroText>Kyle Carhart.</HeroText>
  <div class="sm:text-xl text-lg text-default font-light max-w-lg mt-4">
    I build elegant, high-performance web applications with modern technologies.
  </div>
  <div class="flex gap-4">
    <Button href="#contact" variant="primary">
      <Mail className="w-5 h-5" />
      Contact
    </Button>
  </div>
</Centered>
