---
---

<article class="flex flex-col items-center space-y-6 my-12 text-center">
  <div class="text-4xl text-default">Hello, my name is</div>
  <div class="text-6xl font-black hero-text stroke-red-100 stroke-2">Kyle Carhart</div>
</article>

<style>
  .hero-text {
    color: rgba(255, 255, 255, 100);
    -webkit-text-stroke: 2px var(--color-primary);
    text-shadow: 0 0 8px var(--color-primary);
    paint-order: stroke fill; 
  }
</style>