---
import type { Project } from "@/data/projects";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="flex flex-col gap-2">
  <span class="text-2xl font-semibold">{project.title}</span>
  <span class="text-lg max-w-prose">{project.description}</span>
  <ul class="flex flex-wrap">
    {project.tech.map((tech) => (
      <li class="text-sm font-mono after:not:last:content-['·'] after:mx-2">{tech}</li>
    ))}
  </ul>
</div>