---
import type { Skill } from '@/data/skills';
import { Check } from 'lucide-react';

interface Props {
  title: string;
  skills: Skill[];
}

const { title, skills } = Astro.props;
---


<div class="flex flex-col gap-2">
  <span class="font-mono font-semibold italic text-xs">{title}</span>
  <ol class="space-y-2">
    {skills.map(({name, proficient}) => (
      <li class:list={[
        'flex items-center gap-2',
        {
          'text-primary font-semibold': proficient,
        }
      ]}>
        <Check className="w-4 h-4"/>
        <span>{name}</span>
      </li>
    ))}
  </ol>
</div>