---
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";
import Nav from "../components/Nav.astro";

import "@/styles/globals.css";
import "@/styles/tailwind.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />
  <body class="background min-h-screen text-default">
    <Nav />
    <div class="max-w-main mx-auto">
      <slot />
    </div>
  </body>
</html>


<style>
.background {
  background-image: url('/29.svg'), linear-gradient(90deg, rgba(2,0,36,0.02) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.02) 100%);
  background-color: #FAFAFA;
  background-size: 15px, 100%;
}
</style>

